html {
  background-color: #295f8e;
  color: #000;
  font-family: arial;
}

body {
  background-color: #ccbf84;
  align-content: center;
  max-width: 70%;
  align-items: center;
  align-self: center;
  margin: auto;
}

/* .box {border: 1px solid #fff;
} */

@font-face {
  font-family: ITCKristenNormal;
  src: url(ITCKRIST.TTF);
}

.redText {
  font-family: ITCKristenNormal;
  color: #800;
  font-size: larger;
  font-weight: bold;
}

.headerImage {
  background-color: #000;
}

#base {
  display: flex;
  flex-direction: column;
  /* max-width: 80%;*/
  align-content: center;
}


#header {
  display: flex;
  flex-direction: row;
  background-color: #000;
}

/* header details */
#leftHeader {
  flex: .05;
  min-width: 83px;
  max-width: 83px;
  min-height: 88px;
  max-height: 83px;
}

#centerHeader {
  flex: 1;
  background-color: #000;
}

#headerTop {
  min-height: 52px;
  max-height: 52px;

  background-image: url("./images/Bubbas_02\ cropped.jpg");
  background-repeat: repeat-x;
  /* scale to fit whole number of images */
  background-repeat: round;
}

#headerBottom {
  align-content: center;
  border-bottom-color: #800;
  border: 4px;
}

#pageTitle {
  color: #fff;
  text-align: center;
  padding: 0;
}

#rightHeader {
  min-width: 82px;
  max-width: 82px;
  min-height: 88px;
  max-height: 83px;
}

/* center of page */
#middle {
  display: flex;
  flex-direction: row;
}

#hook {
  flex: 1;
  /* align-items: center; */
  align-self: center;
  /* align-content: center; */
  padding-left: 80px;
  padding-right: 80px;
}

/* center group */
#fishGroup {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* flex: content; */
}

#motto {
  flex: .5;
  text-align: center;
  /* justify doesnt work */
  /* justify-items: center; */
  padding-top: 15px;
}

/* center group */
#specialGroup {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-right: 20px;

}

/* fish picture */
#fishBox {
  flex: 1;
  align-content: center;
  align-items: center;
  align-self: center;
}

#fish {
  align-content: center;
  align-items: center;
  align-self: center;
  /* margin-left: 115px; */
}


/* specials */
#specialsBox {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  flex: .5;
  border: 2px solid #800;
  border-radius: 10px;
}

#specialsTitle {
  text-align: center;
  flex: 1;
}

#specialsMenu {
  display: flex;
  flex-direction: row;
  text-align: center;

  font-weight: bold;
}

#menuItems {
  flex: 1;
}

#menuPrices {
  flex: .75;
}

#description {
  display: flex;
  flex-direction: column;
}

#aboutWord {
  text-align: center;
}

#descGroup {
  display: flex;
  flex-direction: row;
}

#descBox {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  max-width: 75%;
  min-width: 75%;
}

#desc1 {
  flex: .75;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
}

#desc2 {
  flex: .75;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
}

#desc3 {
  flex: .75;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 90%;
  }

  #hook {
    padding-left: 20px;
    padding-right: 20px;
  }

  #specialsBox {
    flex: 1;
  }

  #motto {
    word-wrap: normal;
  }

  #fishBox {
    display: none;
  }

  #descGroup {
    flex-direction: column;
  }
}


@media screen and (max-width: 550px) {
  #descGroup {
    flex-direction: column;
  }
}
